<html ng-app="mod">
<head>
<title>SHub</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
h1{
    font-family: 'Roboto', sans-serif !important;
    text-align: center
}
h2{
    font-family: 'Roboto', sans-serif !important;
    text-align: center
}
h3{
    font-family: 'Roboto', sans-serif !important;
    text-align: center
}
p{
    font-family: 'Roboto', sans-serif !important;
    text-align: center
}
.greenc{
    background: #009688;
}
.redc{
    background: #FFAB91;
}
</style>
</head>

<body ng-controller="nCtrl">
    <div class="">
    <div class="row">
    <div class="col-md-8">
        <br>
    <h1>{{wormHole.lo}} {{wormHole.op}} {{wormHole.ro}}</h1>
    <div class="row">
    <div class="col-md-3">
        
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" ng-model="domresult" ng-keyup="myFunct($event)" style="height: 70px; text-align: center" /><br>
    </div>
    <div class="col-md-3">
    </div>
        
    </div>
    <div class="row">
        <h2>Score: {{Hiscore}}</h2>
    </div>
    </div>
        
        
    <div class="col-md-4" style="height: 100%; overflow-y: scroll">
        
        <div ng-repeat="data in history" ng-class="data.formalresult==true?'greenc': 'redc'">
            <h3 style="margin: 0; padding: 5px; color: white; text-align: left">Ques: {{data.lo}}&nbsp;{{data.op}}&nbsp;{{data.ro}} - Score: {{data.score}}</h3>
            <p style="margin-bottom: 0; padding: 5px; text-align:left; color: white">{{data.timeStamp._d}}</p>
        </div>
    </div>
    </div>
    </div>
</body>
<script>
var hod = angular.module('mod', []);
hod.controller('nCtrl', function ( $scope ) {

$scope.wormHole = {
lo : '',
op : '',
ro : '',
result: 0,
score: 0,
formalresult: '',
timeStamp: '',
}    

$scope.history = [];
$scope.Hiscore = 0;

$scope.myFunct = function(keyEvent) {
  if (keyEvent.which === 13)
    $scope.checkCalculation()
}

$scope.randomNumbers = function(){
a = Math.floor(Math.random() * (4 - 1 + 1) + 1);
b = Math.floor(Math.random() * (4 - 1 + 1) + 1);
return $scope.randomOperation(a,b);
}


$scope.randomOperation = function(a, b){
randInt = Math.floor(Math.random() * (4 - 1 + 1) + 1);
switch(randInt){
case 1:
result = a + b;
op = '+';
break;
case 2:
result = a - b;
op = '-';
break;
case 3:
result = a * b;
op = 'x';
break;
case 4:
result = a % b;
op = '%';
break;
}
$scope.wormHole = {
lo : '',
op : '',
ro : '',
result: 0,
score: 0,
formalresult: ''
} 

    
$scope.wormHole.lo = a;
$scope.wormHole.op = op;
$scope.wormHole.ro = b;
$scope.wormHole.result = result;
}

$scope.checkCalculation = function(){
if($scope.domresult == $scope.wormHole.result){
$scope.updateScore('+');
$scope.wormHole.formalresult = true;  
}
else{
$scope.updateScore('-');
$scope.wormHole.formalresult = false;    
}


}

$scope.updateScore=function(q){
if (q=='+') {
$scope.Hiscore += 1;
this.randomNumbers();
}
else if(q=='-'){
$scope.Hiscore -= 1;
this.randomNumbers();
}
else{
this.randomNumbers();
}
    
$scope.wormHole.score = $scope.Hiscore;
$scope.wormHole.timeStamp = moment();
$scope.history.push($scope.wormHole)
$scope.domresult = '';
console.log($scope.history)
}

    
    
$scope.randomNumbers()

    

    



});
    
</script>
</html>
